.elementor-1124 .elementor-element.elementor-element-f3401e1 {
  padding: 135px 15px 155px 15px;
}

.elementor-1124 .elementor-element.elementor-element-3901492 {
  width: initial;
  max-width: initial;
  top: -115px;
}

body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-3901492 {
  left: 35px;
}

body.rtl .elementor-1124 .elementor-element.elementor-element-3901492 {
  right: 35px;
}

.elementor-1124 .elementor-element.elementor-element-be9e722 {
  width: initial;
  max-width: initial;
  top: -77px;
}

body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-be9e722 {
  left: 55px;
}

body.rtl .elementor-1124 .elementor-element.elementor-element-be9e722 {
  right: 55px;
}

body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-7c666eb {
  left: -20px;
}

body.rtl .elementor-1124 .elementor-element.elementor-element-7c666eb {
  right: -20px;
}

.elementor-1124 .elementor-element.elementor-element-7c666eb {
  top: 80px;
  z-index: 8;
  text-align: center;
}

body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-cd05bd0 {
  left: -20px;
}

body.rtl .elementor-1124 .elementor-element.elementor-element-cd05bd0 {
  right: -20px;
}

.elementor-1124 .elementor-element.elementor-element-cd05bd0 {
  top: 180px;
  z-index: 7;
  text-align: center;
}

body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-976f541 {
  left: -20px;
}

body.rtl .elementor-1124 .elementor-element.elementor-element-976f541 {
  right: -20px;
}

.elementor-1124 .elementor-element.elementor-element-976f541 {
  top: 146px;
  z-index: 6;
  text-align: center;
}

body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-e519482 {
  left: -20px;
}

body.rtl .elementor-1124 .elementor-element.elementor-element-e519482 {
  right: -20px;
}

.elementor-1124 .elementor-element.elementor-element-e519482 {
  top: 210px;
  z-index: 5;
  text-align: center;
}

body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-c950c5e {
  left: -20px;
}

body.rtl .elementor-1124 .elementor-element.elementor-element-c950c5e {
  right: -20px;
}

.elementor-1124 .elementor-element.elementor-element-c950c5e {
  top: 215px;
  z-index: 4;
  text-align: center;
}

body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-0d057a2 {
  left: -20px;
}

body.rtl .elementor-1124 .elementor-element.elementor-element-0d057a2 {
  right: -20px;
}

.elementor-1124 .elementor-element.elementor-element-0d057a2 {
  top: 230px;
  z-index: 3;
  text-align: center;
}

body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-82ce038 {
  left: -20px;
}

body.rtl .elementor-1124 .elementor-element.elementor-element-82ce038 {
  right: -20px;
}

.elementor-1124 .elementor-element.elementor-element-82ce038 {
  top: 250px;
  z-index: 2;
  text-align: center;
}

body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-398a4e9 {
  left: -20px;
}

body.rtl .elementor-1124 .elementor-element.elementor-element-398a4e9 {
  right: -20px;
}

.elementor-1124 .elementor-element.elementor-element-398a4e9 {
  top: 230px;
  z-index: 1;
  text-align: center;
}

.elementor-1124 .elementor-element.elementor-element-6d1817d {
  width: initial;
  max-width: initial;
  top: -25px;
  z-index: -1;
}

body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-6d1817d {
  left: 60px;
}

body.rtl .elementor-1124 .elementor-element.elementor-element-6d1817d {
  right: 60px;
}

.elementor-1124 .elementor-element.elementor-element-2ff7232 {
  width: initial;
  max-width: initial;
  top: -60px;
  z-index: -1;
}

body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-2ff7232 {
  left: 15px;
}

body.rtl .elementor-1124 .elementor-element.elementor-element-2ff7232 {
  right: 15px;
}

.elementor-1124 .elementor-element.elementor-element-a2fd408 {
  width: initial;
  max-width: initial;
  top: 50%;
}

body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-a2fd408 {
  left: -37%;
}

body.rtl .elementor-1124 .elementor-element.elementor-element-a2fd408 {
  right: -37%;
}

.elementor-1124 .elementor-element.elementor-element-5707ad7 > .elementor-element-populated {
  padding: 0px 50px 0px 0px;
}

.elementor-1124 .elementor-element.elementor-element-347ad06 .pbmit-heading-subheading {
  text-align: left;
}

.elementor-1124 .elementor-element.elementor-element-62a69e3 {
  width: initial;
  max-width: initial;
  top: 0%;
}

body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-62a69e3 {
  right: -60%;
}

body.rtl .elementor-1124 .elementor-element.elementor-element-62a69e3 {
  left: -60%;
}

.elementor-1124 .elementor-element.elementor-element-8074c0d {
  margin-top: -25px;
  margin-bottom: 0px;
}

.elementor-1124 .elementor-element.elementor-element-3538c9c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-block-end: calc(7px/2);
}

.elementor-1124 .elementor-element.elementor-element-3538c9c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-block-start: calc(7px/2);
}

.elementor-1124 .elementor-element.elementor-element-3538c9c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-inline: calc(7px/2);
}

.elementor-1124 .elementor-element.elementor-element-3538c9c .elementor-icon-list-items.elementor-inline-items {
  margin-inline: calc(-7px/2);
}

.elementor-1124 .elementor-element.elementor-element-3538c9c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  inset-inline-end: calc(-7px/2);
}

.elementor-1124 .elementor-element.elementor-element-3538c9c .elementor-icon-list-icon i {
  transition: color 0.3s;
}

.elementor-1124 .elementor-element.elementor-element-3538c9c .elementor-icon-list-icon svg {
  transition: fill 0.3s;
}

.elementor-1124 .elementor-element.elementor-element-3538c9c {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}

.elementor-1124 .elementor-element.elementor-element-3538c9c .elementor-icon-list-text {
  transition: color 0.3s;
}

.elementor-1124 .elementor-element.elementor-element-14182a9.elementor-column > .elementor-widget-wrap {
  justify-content: flex-end;
}

.elementor-1124 .elementor-element.elementor-element-14182a9 > .elementor-element-populated {
  padding: 0px 40px 0px 0px;
}

.elementor-1124 .elementor-element.elementor-element-b503415 {
  width: initial;
  max-width: initial;
}

.elementor-1124 .elementor-element.elementor-element-480cf6e {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #00000012;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 30px 0px 50px 0px;
}

@media (min-width:768px) {
  .elementor-1124 .elementor-element.elementor-element-f2a4969 {
    width: 58%;
  }

  .elementor-1124 .elementor-element.elementor-element-5707ad7 {
    width: 42%;
  }
}

@media (max-width:1200px) {
  .elementor-1124 .elementor-element.elementor-element-f3401e1 {
    padding: 100px 0px 30px 0px;
  }

  .elementor-1124 .elementor-element.elementor-element-f2a4969 > .elementor-element-populated {
    padding: 310px 0px 310px 0px;
  }

  .elementor-1124 .elementor-element.elementor-element-7c666eb {
    width: auto;
    max-width: auto;
    top: 100px;
  }

  body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-7c666eb {
    left: 185px;
  }

  body.rtl .elementor-1124 .elementor-element.elementor-element-7c666eb {
    right: 185px;
  }

  .elementor-1124 .elementor-element.elementor-element-cd05bd0 {
    width: auto;
    max-width: auto;
    top: 200px;
  }

  body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-cd05bd0 {
    left: 185px;
  }

  body.rtl .elementor-1124 .elementor-element.elementor-element-cd05bd0 {
    right: 185px;
  }

  .elementor-1124 .elementor-element.elementor-element-976f541 {
    width: auto;
    max-width: auto;
    top: 172px;
  }

  body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-976f541 {
    left: 152px;
  }

  body.rtl .elementor-1124 .elementor-element.elementor-element-976f541 {
    right: 152px;
  }

  .elementor-1124 .elementor-element.elementor-element-e519482 {
    width: auto;
    max-width: auto;
    top: 241px;
  }

  body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-e519482 {
    left: 170px;
  }

  body.rtl .elementor-1124 .elementor-element.elementor-element-e519482 {
    right: 170px;
  }

  .elementor-1124 .elementor-element.elementor-element-c950c5e {
    width: auto;
    max-width: auto;
    top: 250px;
  }

  body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-c950c5e {
    left: 165px;
  }

  body.rtl .elementor-1124 .elementor-element.elementor-element-c950c5e {
    right: 165px;
  }

  .elementor-1124 .elementor-element.elementor-element-0d057a2 {
    width: auto;
    max-width: auto;
    top: 267px;
  }

  body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-0d057a2 {
    left: 155px;
  }

  body.rtl .elementor-1124 .elementor-element.elementor-element-0d057a2 {
    right: 155px;
  }

  .elementor-1124 .elementor-element.elementor-element-82ce038 {
    width: auto;
    max-width: auto;
    top: 290px;
  }

  body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-82ce038 {
    left: 162px;
  }

  body.rtl .elementor-1124 .elementor-element.elementor-element-82ce038 {
    right: 162px;
  }

  .elementor-1124 .elementor-element.elementor-element-398a4e9 {
    width: auto;
    max-width: auto;
    top: 300px;
  }

  body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-398a4e9 {
    left: 167px;
  }

  body.rtl .elementor-1124 .elementor-element.elementor-element-398a4e9 {
    right: 167px;
  }

  .elementor-1124 .elementor-element.elementor-element-5707ad7 > .elementor-element-populated {
    padding: 20px 30px 0px 30px;
  }

  .elementor-1124 .elementor-element.elementor-element-14182a9 > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width:767px) {
  .elementor-1124 .elementor-element.elementor-element-f3401e1 {
    padding: 60px 0px 10px 0px;
  }

  .elementor-1124 .elementor-element.elementor-element-f2a4969 > .elementor-element-populated {
    padding: 180px 0px 180px 0px;
  }

  .elementor-1124 .elementor-element.elementor-element-3901492 {
    top: -70px;
  }

  .elementor-1124 .elementor-element.elementor-element-be9e722 {
    top: -35px;
  }

  body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-7c666eb {
    left: 30px;
  }

  body.rtl .elementor-1124 .elementor-element.elementor-element-7c666eb {
    right: 30px;
  }

  .elementor-1124 .elementor-element.elementor-element-7c666eb {
    top: 0px;
  }

  body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-cd05bd0 {
    left: 30px;
  }

  body.rtl .elementor-1124 .elementor-element.elementor-element-cd05bd0 {
    right: 30px;
  }

  .elementor-1124 .elementor-element.elementor-element-cd05bd0 {
    top: 100px;
  }

  body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-976f541 {
    left: 30px;
  }

  body.rtl .elementor-1124 .elementor-element.elementor-element-976f541 {
    right: 30px;
  }

  .elementor-1124 .elementor-element.elementor-element-976f541 {
    top: 100px;
  }

  body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-e519482 {
    left: 30px;
  }

  body.rtl .elementor-1124 .elementor-element.elementor-element-e519482 {
    right: 30px;
  }

  .elementor-1124 .elementor-element.elementor-element-e519482 {
    top: 135px;
  }

  body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-c950c5e {
    left: 30px;
  }

  body.rtl .elementor-1124 .elementor-element.elementor-element-c950c5e {
    right: 30px;
  }

  .elementor-1124 .elementor-element.elementor-element-c950c5e {
    top: 156px;
  }

  body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-0d057a2 {
    left: 30px;
  }

  body.rtl .elementor-1124 .elementor-element.elementor-element-0d057a2 {
    right: 30px;
  }

  .elementor-1124 .elementor-element.elementor-element-0d057a2 {
    top: 172px;
  }

  body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-82ce038 {
    left: 30px;
  }

  body.rtl .elementor-1124 .elementor-element.elementor-element-82ce038 {
    right: 30px;
  }

  .elementor-1124 .elementor-element.elementor-element-82ce038 {
    top: 190px;
  }

  body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-398a4e9 {
    left: 30px;
  }

  body.rtl .elementor-1124 .elementor-element.elementor-element-398a4e9 {
    right: 30px;
  }

  .elementor-1124 .elementor-element.elementor-element-398a4e9 {
    top: 200px;
  }

  body:not(.rtl) .elementor-1124 .elementor-element.elementor-element-62a69e3 {
    right: -33%;
  }

  body.rtl .elementor-1124 .elementor-element.elementor-element-62a69e3 {
    left: -33%;
  }

  .elementor-1124 .elementor-element.elementor-element-14182a9.elementor-column > .elementor-widget-wrap {
    justify-content: flex-start;
  }

  .elementor-1124 .elementor-element.elementor-element-14182a9 > .elementor-element-populated {
    margin: 50px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-1124 .elementor-element.elementor-element-0d20ca0 > .elementor-element-populated {
    margin: 30px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
}

@media (max-width:1200px) and (min-width:768px) {
  .elementor-1124 .elementor-element.elementor-element-f2a4969 {
    width: 100%;
  }

  .elementor-1124 .elementor-element.elementor-element-5707ad7 {
    width: 100%;
  }
}